.carrosel__titulo{
    color: var(--azul-escuro);
    background-color: var(--cor-branca-fundo);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.book{
    height: 450px;
}

.swiper-slide img{
   width: 100%;
}

.swiper-pagination{
    position: top;
    margin: 0.5em 0;
}

.card__descricao{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.card__botoes{
    display: flex;
    justify-content: space-between;
}

.botoes{
    display: flex;
}

.card{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.descricao__titulo{
    color: var(--azul-escuro);
    font-weight: 700;
    font-size: 16px;
    font-family: (--fonte-principal);
}

.descricao__titulo-livro{
    color: #EB9B00;
    font-weight: 700;
    font-size: 18px;
    font-family: var(--fonte-principal);
    margin: 0.5em 0;
}

.descricao__texto{
    color: rgba(0, 0, 0, 0.85);
    font-weight: 400;
    font-size: 16px;
    font-family: var(--fonte-principal);
}

.botoes__item{
    margin: 0.5em;
}

.botoes__ancora{
    background-color: var(--azul-escuro);
    padding: 1em 2.2em;
    border-radius: 12px;
    color: var(--cor-branca-fundo);
    font-weight: 700;
    text-decoration: none;
} 
.descricao__imagem--foto{
    width: 259px;
    height: 351px;
}

.swiper-pagination{
    position: relative;
}